In [1]:
import pandas as pd
from math import log

In [4]:
docs = [
    '후기 빠른 배송 만족합니다',
    '배송 굿',
    '후기 쓰면 포인트를 줍니다 세탁 물빠짐',
    '후기 쓰면 포인트를 줍니다',
    '후기 쓰면 포인트를 줍니다',
    '세탁 주의',
    '세탁 조심하세요',
]
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()
print(vocab)

['굿', '만족합니다', '물빠짐', '배송', '빠른', '세탁', '쓰면', '조심하세요', '주의', '줍니다', '포인트를', '후기']

In [5]:
N = len(docs)

def tf(t,d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
        return log(N/(df+1))
    
def tfidf(t,d):
    return tf(t,d)* idf(t)

In [6]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t,d))
        
tf_ = pd.DataFrame(result, columns = vocab)
tf_

   굿  만족합니다  물빠짐  배송  빠른  세탁  쓰면  조심하세요  주의  줍니다  포인트를  후기
0  0      1    0   1   1   0   0      0   0    0     0   1
1  1      0    0   1   0   0   0      0   0    0     0   0
2  0      0    1   0   0   1   1      0   0    1     1   1
3  0      0    0   0   0   0   1      0   0    1     1   1
4  0      0    0   0   0   0   1      0   0    1     1   1
5  0      0    0   0   0   1   0      0   1    0     0   0
6  0      0    0   0   0   1   0      1   0    0     0   0

In [7]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))
    
idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

            IDF
굿      1.945910
만족합니다  1.252763
물빠짐    1.945910
배송     1.252763
빠른     1.252763
세탁     1.945910
쓰면     1.945910
조심하세요  1.945910
주의     1.945910
줍니다    1.945910
포인트를   1.945910
후기     1.252763

In [8]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        
        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

,굿,만족합니다,물빠짐,배송,빠른,세탁,쓰면,조심하세요,주의,줍니다,포인트를,후기
0,0.00000,1.252763,0.00000,1.252763,1.252763,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.252763
1,1.94591,0.000000,0.00000,1.252763,0.000000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.000000
2,0.00000,0.000000,1.94591,0.000000,0.000000,1.94591,1.94591,0.00000,0.00000,1.94591,1.94591,1.252763
3,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,1.94591,0.00000,0.00000,1.94591,1.94591,1.252763
4,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,1.94591,0.00000,0.00000,1.94591,1.94591,1.252763
5,0.00000,0.000000,0.00000,0.000000,0.000000,1.94591,0.00000,0.00000,1.94591,0.00000,0.00000,0.000000
6,0.00000,0.000000,0.00000,0.000000,0.000000,1.94591,0.00000,1.94591,0.00000,0.00000,0.00000,0.000000